<!-- Desktop -->
<div class="hidden md:block overflow-hidden rounded-xl border border-gray-200 bg-white shadow-sm">
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray- 50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-gray-500">Cliente</th>
          <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-gray-500">Empresa</th>
          <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-gray-500">Email</th>
          <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-gray-500">
            Teléfono
          </th>
          <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-gray-500">Tipo</th>
          <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-gray-500">Estado</th>
          <th class="px-6 py-3 text-left text-xs font-semibold uppercase text-gray-500">
            Acciones
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-100 bg-white">
        @for (client of clients; track client.id) {
          <tr class="hover:bg-gray-50">
            <td class="px-6 py-4">
              <div>
                <p class="font-medium">{{ client.nombre }}</p>
                <p class="text-sm text-gray-500">{{ client.dni }}</p>
              </div>
            </td>

            <td class="px-6 py-4">{{ client.empresa }}</td>
            <td class="px-6 py-4">{{ client.email }}</td>
            <td class="px-6 py-4">{{ client.telefono }}</td>

            <td class="px-6 py-4">
              <span class="rounded-full bg-blue-100 px-3 py-1 text-xs font-medium text-blue-800">
                {{ client.tipoEmpresa }}
              </span>
            </td>

            <td class="px-6 py-4">
              <span class="rounded-full bg-green-100 px-3 py-1 text-xs font-medium text-green-800">
                {{ client.status }}
              </span>
            </td>

            <td class="px-6 py-4">
              <a
                [routerLink]="['/clients', client.id]"
                class="inline-flex items-center gap-2 rounded-md bg-blue-200 px-3 py-2 text-xs font-medium text-black hover:bg-blue-500 hover:text-white"
              >
                <img class="w-5" src="/icons8-ojos-64.png" />
                Ver ficha
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Mobile -->
<div class="md:hidden space-y-4">
  @for (client of clients; track client.id) {
    <div class="rounded-xl border border-gray-200 bg-white p-4 shadow-sm">
      <div class="flex items-center justify-between">
        <div>
          <h3 class="font-bold text-gray-900">
            {{ client.nombre }}
          </h3>

          <p class="text-sm text-gray-500">
            {{ client.dni }}
          </p>
        </div>

        <span class="rounded-full bg-green-100 px-3 py-1 text-xs font-medium text-green-800">
          {{ client.status }}
        </span>
      </div>

      <div class="mt-4 space-y-2 text-sm">
        <p>
          <span class="font-semibold">Empresa:</span>
          {{ client.empresa }}
        </p>

        <p>
          <span class="font-semibold">Email:</span>
          {{ client.email }}
        </p>

        <p>
          <span class="font-semibold">Teléfono:</span>
          {{ client.telefono }}
        </p>

        <p>
          <span class="font-semibold">Tipo:</span>
          {{ client.tipoEmpresa }}
        </p>
      </div>

      <a
        [routerLink]="['/clients', client.id]"
        class="mt-4 flex w-full items-center justify-center gap-2 rounded-lg bg-blue-600 px-4 py-3 font-medium text-white"
      >
        <img class="w-5" src="/icons8-ojos-64.png" />
        Ver ficha
      </a>
    </div>
  }
</div>
